body {
    background-color: #333;
    color: #fff;
}
a {
    text-decoration: none;
    color: #fff;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}
span {
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    height: 636px; 
    width: 450px;
    padding: 1em;
}
.homelink {
    font-size: 3.5em;
}
@media (max-width: 1054px) {
    img {
        float: left;
        height: 495px; 
        width: 350px;
    }
    span {
        display: block;
        margin-left:40% ;
    }
}

@media (max-width: 740px) {
    .container {
        display: block;
    }
    span {
        display: block;
    }
    .coverpagelink {
        display: flex;
        justify-content: center;
        align-items: center;
    }
    img {
        height: 353px; 
        width: 250px;
    }
}